//fonts
$font: 'Raleway';
$font-sec: 'Bebas Neue';
$font-icon: 'Material Icons';

//colors
$white: #ffffff;
$black: #000000;
$grey: #595959;
$violet: #8a2be2;
$banner-bg: #c4c4c4;
$black-hover: #000000a6;